.header img {
    height: 70px;
}

.header .brand-logo {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-size: 17px;
    font-weight: bold;
}

.header a:hover {
    color: #0da1d6;
}

.sign-out {
    text-decoration: none;
    border: none;
    color: white;
    margin-left: 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1C2B35;
    cursor: pointer;
}

.sign-out:hover {
    color: orange;
}


/* Media Query */

/* Mobile Device */

@media screen and (max-width: 768px) {
    .header img {
        height: 60px;
    }

    .header a {
        margin: 0;
    }
}


/* @media screen and (min-width: 481px) and (max-width: 768px) {
    .header a {
        display: none;
    }
    .header {
        display: flex;
        justify-content: center;
    }
} */